<div class="col-md-4 col-md-offset-8">
	<div class="row">
<form class="navbar-form navbar-right">
    <%= form_tag researches_path, method: :get do %>
        <div class='form-group'>
            <%= text_field_tag :search, params[:search], class: "form-control ", placeholder: "Search Research" %>
            <%= submit_tag 'Search', name: nil, class: "btn btn-primary" %>
        </div>
    <% end %>
</form>
</div>
</div>

<h1 align="center">Researches <span class="badge badge-default"><%= pluralize(@researches.count, "research")  %></h1><br><br> <div class=""><%= link_to  "Add Research", new_research_path, class: "btn btn-success btn-sm pull-right"%>
</div>
<div class="clearfix">
<br>
</div><br>
<div align="center" >
  <%= will_paginate @research, renderer: BootstrapPagination::Rails %>
</div>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Research</th>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @researches.each do |research| %>
      <tr>
        <td><%= research.title %></td>
        <td><%= research.status %></td>
        <td><%= link_to "View or Download", research.research_url %></td>
        <td>By: <%= research.user.email %> <br>on: <%= research.created_at.strftime("%d-%b-%Y") %></td>
        <td>By: <%= research.edit_by %> <br> on <%= research.updated_at.strftime("%d-%b-%Y")  %> </td>
        <td><%= link_to 'Show', research %></td>
        <td><%= link_to 'Edit', edit_research_path(research) %></td>
        <td><%= link_to 'Destroy', research, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center" >
  <%= will_paginate @research, renderer: BootstrapPagination::Rails %>
</div>
<br>
