<h1 align="center">Webinars <span class="badge badge-default"><%= pluralize(@webinars.count, "webinar")  %></h1>

<div align="center" >
  <%= will_paginate @webinar, renderer: BootstrapPagination::Rails %>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<% @webinars.each do |webinar| %>
		  <div class="well">
			<h3 align="center"><%= webinar.name %></h3>
				<ul class="list-group">
					<li  class="list-group-item">Date: <%= webinar.date.strftime("%d-%b-%Y at %H:%M") %></li>
					<% if webinar.speakers.any? %>
						<li  class="list-group-item"><%= render webinar.speakers %></li>
					<% end %>

				</ul>
			<div align="center"><br>
			<%= link_to "View this Webinar", webinar_path(webinar), class: "btn btn-xs btn-success" %>
			</div>
		  </div>
		<% end %>
	</div>
</div>

<div align="center" >
  <%= will_paginate @webinar, renderer: BootstrapPagination::Rails %>
</div>
