
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<h1 align="center"><%= @webinar.name %></h1>
				<ul class="list-group">					
					<li class="list-group-item">Date: <%= @webinar.date %></li>
					<li class="list-group-item">Relatore: <%= @webinar.relatore %></li>
					<li class="list-group-item">Programa: <%= @webinar.programa %></li>		
				</ul>
			<div align="center"><br>
			<%= link_to "Edit this Webinar", edit_webinar_path(@webinar), class: "btn btn-xs btn-success" %>
			<%= link_to "Delete this Webinar", webinar_path(@webinar), method: :delete, data:{confirm: "Are you sure"}, class: "btn btn-xs btn-danger" %>
			<%= link_to "Back to Webinars", webinars_path, class: "btn btn-xs btn-primary" %>
			</div><br>
			<% if @webinar.participants.any? %>
			<p style="float: right"><span class="label label-info"><%= pluralize(@webinar.participants.count, "participant")  %></p>
		         <p>Participants:  <%= render @webinar.participants %></p>
		        <% end %>
		</div>
	</div>
</div>
