<h1 align="center">Participants</h1>

<div align="center" >
  <%= will_paginate @participant, renderer: BootstrapPagination::Rails %>
</div>

<div class="row">	
	<div class="col-md-8">
		<% @participants.each do |participant| %>
		  <div align="center" class="well">
			<h3 align="center"><%= participant.qualification %> <%= participant.first_name %> <%= participant.last_name %></h3>
				<ul class="list-group">										
					<li  class="list-group-item">Email: <%= mail_to participant.email %> - City: <%= participant.city %></li>
					<li class="list-group-item"><%= link_to "View this Participant", participant_path(participant), class: "btn btn-xs btn-success" %></li>			
				</ul>
			<div align="center"><br>			
						
			</div>
		  </div>
		<% end %>
	</div>
	<div class="col-md-4">		
		<h3 align="center">Import Participants</h3><br>
		<%= form_tag import_participants_path, multipart: true  do %>
		<span class="btn btn-xs btn-warning btn-file">
           Choose File
             <%= file_field_tag :file %>
        </span><br><br>
		
		<%= submit_tag "Upload participants",class: 'btn btn-xs btn-success' %>
		<% end %>
		
	</div>
</div>

<div align="center" >
  <%= will_paginate @participant, renderer: BootstrapPagination::Rails %>
</div>

