<!DOCTYPE html>
<html>
  <head>
    <title>Cpitracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      <div class="container msg">
        <%= render 'shared/messages' %>
      </div>
    
  	<div class="container">
      

    <%= yield %>

   </div>
   <%= debug(params) if Rails.env.development? %>
  </body>
</html>
